/* Custom properties */
:root {
  --first-color: rgb(255, 160, 0);
  --second-color: rgb(251, 252, 169);
  --third-color: rgb(225, 225, 225);
  --third-color-alpha: rgba(175, 175, 175, 0.4);
  --blue-color: rgb(60, 60, 220);
}

/* Reset Styles */
main {
  padding-bottom: 115px;
}

.BodyCalculator {
  background-color: var(--third-color);
}

.btnCalculator {
  height: 3.25rem;
  margin-left: 5px;
  width: 5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input {
  background-color: var(--third-color);
  outline: none;
}

button {
  border: 1px solid;
  border-color: var(--third-color-alpha);
}

button:hover {
  filter: brightness(0.98);
  -webkit-filter: brightness(0.98);
}

.btnEquals {
  background-color: var(--blue-color);
}

.btnEquals:hover {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
}

.calculatorImg {
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.text-orange {
  color: var(--first-color);
}

.link {
  transition: 0.5s ease-out;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
}

.link:hover {
  color: var(--second-color); /* color de fondo al pasar el mouse */
}

footer {
  margin-bottom: -0.75rem;
}

/* MD */
/* Extra small devices (phones, 600px and down) */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .btnCalculator {
    height: 3rem;
    width: 6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .btnCalculator {
    height: 3.75rem;
    width: 5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .btnCalculator {
    height: 4rem;
    width: 5rem;
  }

  .aboutText {
    margin-bottom: 3rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .btnCalculator {
    height: 4rem;
    width: 6.5rem;
  }
}

@media only screen and (min-width: 1500px) {
  .btnCalculator {
    height: 4.25rem;
    width: 7.25rem;
  }
}

@media only screen and (min-width: 1700px) {
  .image {
    padding: 0 3.5rem !important;
    margin-top: 1rem;
  }
}
